@import "../../assets/css/colors.scss";

.Home {
  .header_home {
    background-color: $yellow;
    padding: 10px 10%;
    height: 50px;
    img {
      height: 50px;
      width: 15%;
      margin-right: 5%;
    }
  }
}